/* --------------- Fonts used : Poppins + Abril Fatface --------------- */
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* --------------- Website Theme --------------- */

:root {
  --hue-1: 230;
  /*257*/
  --hue-2: 60;
  --main-color-1: hsl(var(--hue-1), 100%, 60%);
  --main-color-dark-1: hsl(var(--hue-1), 69%, 50%);
  --main-color-2: hsl(var(--hue-2), 100%, 61%);
  --main-color-dark-2: hsl(var(--hue-2), 82%, 55%);
  --section-padding: 7rem;
}

body {
  --bg-color: hsl(var(--hue-1), 100%, 97%);
  --bg-color-1: hsl(var(--hue-1), 100%, 95.5%);
  --bg-color-2: #fff;
  --bg-color-3: hsl(var(--hue-1), 100%, 98%);
  --bg-color-transparent: rgba(255, 255, 255, 0.6);
  --heading-color: hsl(var(--hue-1), 61%, 24%);
  --text-color: hsl(var(--hue-1), 17%, 43%);
}

body.dark {
  --bg-color: hsl(var(--hue-1), 19%, 15%);
  --bg-color-1: hsl(var(--hue-1), 21%, 11%);
  --bg-color-2: hsl(var(--hue-1), 23%, 19%);
  --bg-color-3: hsl(var(--hue-1), 23%, 24%);
  --bg-color-transparent: hsla(var(--hue-1), 23%, 19%, 0.6);
  --heading-color: hsl(var(--hue-1), 100%, 95%);
  --text-color: hsl(var(--hue-1), 13%, 51%);
}

/* --------------- General Styles --------------- */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background-color: aquamarine;

}

::selection {
  background-color: hsla(var(--hue-1), 100%, 60%, 0.9);
  color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* --------------- Reusable CSS Code --------------- */
.container {
  position: relative;
  width: 100%;
  max-width: 75rem;
  padding: 0 1.5rem;
  margin: 0 auto;

}

.logo {
  margin-right: 1.5rem;
  height: 120px;
  line-height: 120px;
  font-family: "Abril Fatface", cursive;
  font-size: 1.5rem;
  color: var(--heading-color);
  letter-spacing: 1px;
  transition: 0.3s;
}

.sub-heading {
  color: var(--heading-color);
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 0.5px;
  border-left: 3px solid var(--main-color-2);
  padding: 0.13rem 0.75rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.heading {
  color: var(--heading-color);
  font-size: 3rem;
  font-family: "Abril Fatface", cursive;
  font-weight: 400;
  line-height: 1.3;
}

.text {
  color: var(--text-color);
  font-size: 0.9rem;
  margin: 2rem 0;
  line-height: 2.3;
}

.cta {
  margin-top: 3.5rem;
  display: flex;
  align-items: center;

}

.cta .btn {
  margin-right: 1.5rem;
}

.btn {
  display: inline-block;
  padding: 0.9rem 1.75rem;
  border-radius: 17px;
  background-color: var(--main-color-1);
  font-size: 0.85rem;
  color: #fff;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--main-color-dark-1);
}

.btn.secondary-btn {
  position: relative;
  background-color: transparent;
  color: var(--main-color-1);
  font-weight: 500;
  font-size: 0.9rem;
  letter-spacing: 0px;
  border-bottom: 2.5px solid var(--main-color-2);
  border-radius: 0px;
  padding: 0.15rem 0;

}

.btn.secondary-btn::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2.5px;
  bottom: -2.5px;
  left: 0;
  background-color: var(--main-color-1);
  transition: 0.3s ease-in-out;
}

.btn.secondary-btn:hover::before {
  width: 100%;

}

.section {
  position: relative;
  padding: var(--section-padding) 0;
}

.triangle {
  width: 95px;
  opacity: 45%;
}

.dots {
  width: 112px;
}

.square {
  width: 70px;

}

/* --------------- Navbar Styling --------------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: 0.3s;
}

header.scrolled {
  background-color: var(--bg-color-transparent);
  box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
}

header.scrolled .logo {
  height: 80px;
  line-height: 80px;
}

nav.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}



.logo span {
  color: var(--main-color-1)
}

header .logo {
  height: 120px;
  line-height: 120px;
}

.links {

  flex: 1;
  display: flex;
  justify-content: space-between;
}

.links ul {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-link {
  position: relative;
  display: inline-block;
  margin: 0 1rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.5px;
  color: var(--text-color);
  font-weight: 500;
  opacity: 0.9;
  transition: 0.3s;
}

.nav-link:after {
  content: "";
  position: absolute;
  width: 0;
  height: 10px;
  border-radius: 5px;
  background-color: var(--main-color-1);
  bottom: 0;
  left: -5px;
  z-index: -1;
  opacity: 0;
  transition: 0.3s;
}

.nav-link:hover,
.nav-link.active {
  color: var(--heading-color);
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
  opacity: 0.2;
}

.toggle-btn {
  color: var(--heading-color);
  min-width: 40px;
  height: 40px;
  background-color: var(--bg-color-2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  cursor: pointer;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  margin-right: 1rem;
}

.toggle-btn:hover {
  filter: brightness(90%);

}

/* --------------- Showcase Area Styling --------------- */

.showcase-area {
  padding: 120px 0;
  width: 100%;
  overflow: hidden;
  position: relative;

}

.showcase-area .container {
  display: grid;
  grid-template-columns: 1fr 550px;
  height: calc(100vh - 120px);
  max-height: 600px;
  align-items: center;
}

.showcase-area .sub-heading {
  margin-bottom: 0.7rem;
}

.showcase-area .heading {
  font-size: 3rem;
}

.showcase-area .text {
  margin: 0.8rem 0;
}



.showcase-image {
  position: relative;
  width: 100%;
  min-height: calc(100% + 120px);
  background-image: linear-gradient(124deg,
      var(--main-color-1)12%,
      /*53 53*/
      var(--main-color-2));
  margin-top: -120px;
  border-radius: 0 0 80px 80px;
}

.showcase-image .person {
  position: absolute;
  width: 95%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}


.showcase-area .circle {
  position: absolute;
  width: 190px;
  left: 0;
  top: 80%;
  transform: translate(-50%, -50%);
}

.showcase-area .dots {
  position: absolute;
  left: 100%;
  top: 30%;
  transform: translate(-50%, -50%);
}

.showcase-area .square {
  position: absolute;
  left: 25%;
  bottom: 120px;
  transform: translate(-50%, -50%);
}

/* --------------- About Section Styling --------------- */
.about .container {
  display: grid;
  grid-template-columns: 1.05fr 1fr;
  align-items: center;
}

.about .text {
  margin: 3rem 0 4rem;
}

.about-grid {
  display: grid;
  grid-template-columns: 190px 190px;
  grid-template-rows: 190px 190px;
  justify-content: center;
  column-gap: 2.5rem;
  row-gap: 100px;
  margin-right: 2rem;
  position: relative;
}

.icon {
  width: 60px;
}

.st0 {
  fill: var(--bg-color-3);
}

.st1 {
  fill: #c5e3ea;
}

.st2 {
  fill: var(--heading-color);
  transition: 0.3s;
}

.about-card {
  background-color: var(--bg-color-2);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s transform;

}

.about-card:nth-child(1) {
  border-radius: 40px 40px 5px 40px;
}

.about-card:nth-child(2) {
  margin-top: 50px;
  border-radius: 40px 40px 40px 5px;
}

.about-card:nth-child(3) {
  margin-top: -50px;
  border-radius: 40px 5px 40px 40px;
}

.about-card:nth-child(4) {
  border-radius: 5px 40px 40px 40px;
}

.about-card h3 {
  color: var(--heading-color);
  font-weight: 600;
  font-size: 1rem;
  margin-top: 1rem;
  letter-spacing: 0.3px;
}

.about-card:hover {
  transform: scale(1.1);
}

.about-card:hover .st2 {
  fill: var(--main-color-1);
}

.about-grid::before {
  content: "";
  position: absolute;
  width: 210px;
  height: 210px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 15px solid var(--main-color-1);
  opacity: 15%;
  z-index: -1;
}


.about .triangle {
  position: absolute;
  left: 90%;
  top: 27%;
  transform: translate(-50%, -50%);
}


/* --------------- Portfolio Section Styling --------------- */


.portfolio-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.portfolio-title {
  padding-bottom: 1rem;
  ;
}

.portfolio .container {
  display: grid;
  box-sizing: border-box;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;

}

.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}

.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
  left: -22px;
}

.wrapper i:last-child {
  right: -22px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 40px;

}

.carousel .card .img {
  height: 148px;
  width: 148px;
  border-radius: 40px;
}

.card {
  user-select: none;
}

.card .img img {
  width: 180px;
  height: 180px;
  border-radius: 40px;
  object-fit: cover;
  border: 4px solid #fff;
}

.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
  color: var(--heading-color);
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}



.portfolio .circle {
  position: absolute;
  width: 190px;
  left: 75%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.container .circle {
  position: absolute;
  width: 190px;
  left: 0%;
  top: 70%;
  transform: translate(-50%, -50%);
}

/* --------------- Contact Section Styling --------------- */
.contact .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
}

.mail {
  color: var(--main-color-1);
  font-weight: 500;
  font-size: 1.1rem;
}

.mail i {
  display: inline-block;
  font-size: 1.5rem;
  margin-left: 2px;
  transform: translateY(3px);
  transition: 0.3s margin-left;
}

.mail:hover {
  color: var(--main-color-dark-1);
}

.mail:hover i {
  margin-left: 10px;
}

.contact-form {
  background-color: var(--bg-color-2);
  border-radius: 20px;
  padding: 3.5rem 3rem;
  display: flex;
  flex-direction: column;
}

.contact-form h3 {
  color: var(--heading-color);
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
  line-height: 0.9;
}

.form-input {
  display: inline-block;
  padding: 0.9rem 1.5rem;
  background: var(--bg-color-3);
  border: 2px solid var(--bg-color-3);
  width: 100%;
  border-radius: 17px;
  font-family: inherit;
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--heading-color);
  outline: none;

}

.form-input::placeholder {
  color: var(--text-color);
}

.form-input:hover {
  filter: brightness(96%);
}

.form-input:valid,
.form-input:focus {
  filter: brightness(100%);
  background-color: var(--bg-color-1);
  border-color: var(--main-color-1);
}

textarea.form-input {
  resize: none;
  min-height: 170px;

}

.contact-form .form-input {
  margin-bottom: 1.5rem;

}

.contact .square {
  position: absolute;
  left: 15%;
  bottom: 15%;
  transform: translate(-50%, -50%);
}


.contact .triangle {
  position: absolute;
  left: 90%;
  top: 40%;
  transform: translate(-50%, -50%);
}



/* --------------- Footer Styling --------------- */

footer {
  padding: 4rem 0;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* --------------- 1000px Screens --------------- */

@media screen and (max-width: 1000px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 10px);
  }
}

/* --------------- 768px Screens --------------- */

@media (max-width: 768px) {}

/* --------------- 500px Screens --------------- */

@media screen and (max-width: 500px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}